@model Job_Hunter_Trapper_Keeper.Models.CompanyNotes

@{
    ViewData["Title"] = "AddNote";
}

<h2>AddNote</h2>

<h4>CompanyNotes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNote" asp-route-id="@Model.CompanyId">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Company" class="control-label"></label>
                    <select asp-for="Company" class="form-control" asp-items="ViewBag.Company"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

