@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/CompanyImg.jpg" alt="Skyscrapers" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Track the companies that interest you.
                    <a class="btn btn-default" asp-area="" asp-controller="Companies" asp-action="Create">
                        Add a company
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ContactImg.jpg" alt="Networking photo" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Keep track of the different contacts you make while job hunting.
                    <a class="btn btn-default" asp-area="" asp-controller="Contacts" asp-action="Create">
                        Add a contact
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/JobSearchImg.jpg" alt="Job Search Illustration" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Save job postings
                    <a class="btn btn-default" asp-area="" asp-controller="Jobs" asp-action="Create">
                        Add a job posting
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/NotesImg.jpg" alt="Note taking" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Add notes about any: 
                    <a class="btn btn-default" asp-area="" asp-controller="CompanyNotes" asp-action="Create">
                        company
                    </a>
                    <a class="btn btn-default" asp-area="" asp-controller="ContactNotes" asp-action="Create">
                        contact
                    </a>
                    <a class="btn btn-default" asp-area="" asp-controller="JobNotes" asp-action="Create">
                        job listing
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>